# Script: 1.1 Rename-English-Dataset
<h4><span style="color:blue">Juan José Hoyos Urcué</span></h4>

### Dataset Upload

In [1]:
import pandas as pd
file_name = "cleaned.xlsx"
data = pd.read_excel(file_name, na_values = ["999.0","888.0","999","888"])

### Spanish Variable names and number of variabes is shown

In [2]:
print(data.columns, len(data.columns))

Index(['eb_lc_sexo', 'eb_lc_etnia', 'edad', 'eb_lc_dpto_infeccion',
       'eb_lc_peso', 'eb_lc_estatura', 'eb_lc_tiempo_evolucion',
       'eb_lc_num_lc_activas', 'eb_lc_ejex_ulcera_mm_1',
       'eb_lc_ejey_ulcera_mm_1', 'eb_lc_ulcera_area_1',
       'eb_lc_ejex_lesion_mm_1', 'eb_lc_ejey_lesion_mm_1',
       'eb_lc_lesion_area_1', 'eb_lc_tto_mcto_prescrito',
       'eb_lc_tto_mcto_glucan_dosis', 'ef_lc_estado_final_estudio'],
      dtype='object') 17

### English Variable names is defined

In [3]:

english = [
    "gender", "ethnicity", "age", "infection_department",
    "weight", "height", "evolution_time", "number_active_injuries",
    "ulcer_horizontal", "ulcer_vertical", "ulcer_area", "injury_horizontal",
    "injury_vertical", "injury_area", "prescribed_medication", "glucantime_dosage",
    "cure_or_fail"]

### English Variable names and number of variabes is shown

In [4]:
print(english, len(english))

['gender', 'ethnicity', 'age', 'infection_department', 'weight', 'height', 'evolution_time', 'number_active_injuries', 'ulcer_horizontal', 'ulcer_vertical', 'ulcer_area', 'injury_horizontal', 'injury_vertical', 'injury_area', 'prescribed_medication', 'glucantime_dosage', 'cure_or_fail'] 17

### Show a preview of the dataset before variables names change

In [5]:
data.head()

,eb_lc_sexo,eb_lc_etnia,edad,eb_lc_dpto_infeccion,eb_lc_peso,eb_lc_estatura,eb_lc_tiempo_evolucion,eb_lc_num_lc_activas,eb_lc_ejex_ulcera_mm_1,eb_lc_ejey_ulcera_mm_1,eb_lc_ulcera_area_1,eb_lc_ejex_lesion_mm_1,eb_lc_ejey_lesion_mm_1,eb_lc_lesion_area_1,eb_lc_tto_mcto_prescrito,eb_lc_tto_mcto_glucan_dosis,ef_lc_estado_final_estudio
0,1,1,22,Narino,58.6,176,2,1,11.6,6.1,222.3,14.2,9.9,441.6,1,14.0,0.0
1,2,2,19,Choco,59.0,145,6,1,32.6,39.2,4014.7,55.3,56.6,9833.1,1,14.5,2.0
2,1,1,20,Narino,62.0,158,3,6,7.0,4.2,92.4,14.1,8.7,385.4,1,15.0,1.0
3,2,1,18,Narino,77.0,163,6,6,9.0,6.2,175.3,12.5,10.0,392.7,1,19.0,1.0
4,1,2,35,Narino,53.9,158,3,1,11.8,10.0,370.7,14.4,12.0,542.9,1,13.0,0.0

In [6]:
# variables names change is done

data.columns = english

### Show a preview of the dataset after variables names change

In [7]:
data.head()

,gender,ethnicity,age,infection_department,weight,height,evolution_time,number_active_injuries,ulcer_horizontal,ulcer_vertical,ulcer_area,injury_horizontal,injury_vertical,injury_area,prescribed_medication,glucantime_dosage,cure_or_fail
0,1,1,22,Narino,58.6,176,2,1,11.6,6.1,222.3,14.2,9.9,441.6,1,14.0,0.0
1,2,2,19,Choco,59.0,145,6,1,32.6,39.2,4014.7,55.3,56.6,9833.1,1,14.5,2.0
2,1,1,20,Narino,62.0,158,3,6,7.0,4.2,92.4,14.1,8.7,385.4,1,15.0,1.0
3,2,1,18,Narino,77.0,163,6,6,9.0,6.2,175.3,12.5,10.0,392.7,1,19.0,1.0
4,1,2,35,Narino,53.9,158,3,1,11.8,10.0,370.7,14.4,12.0,542.9,1,13.0,0.0

### Save Dataset with new variables names

In [8]:
data.to_excel("cleaned_renamed.xlsx", index = False)